<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xieyi.etoffice">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:name=".EtOfficeApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_icon_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/Theme.EtOffice">
        <activity
            android:name=".ui.StartActivity"
            android:screenOrientation="fullSensor"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:screenOrientation="portrait" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="fullSensor">
        </activity>
        <activity
            android:name=".ui.myPage.MyPageChangeCompanyActivity"
            android:label="@string/CHANGE"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".ui.myPage.MyPagePlaceSettingActivity"
            android:label="@string/PLACEMANAGE"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".ui.report.ReportDetailActivity"
            android:label="@string/title_report"
            android:screenOrientation="fullSensor" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/network_security_config" />
    </application>

</manifest>