<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xieyi.etoffice">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".EtOfficeApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_icon"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/Theme.EtOffice">
        <activity
            android:name=".ui.StartActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:screenOrientation="portrait" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.MyPage.MyPageChangeCompanyActivity"
            android:label="@string/title_my_page_change_company"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MyPage.MyPagePlaceSettingActivity"
            android:label="@string/title_my_page_place_setting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.report.ReportDetailActivity"
            android:label="@string/title_report"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/network_security_config" />
    </application>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

</manifest>